<section class="row">
    <div class="col-md-offset-2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Editer une entrée</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" [formGroup]="entreeForm" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div class="form-group">
                        <input type="date" class="form-control" formControlName="date" placeholder="Date de l'entrée" required >
                    </div>

                    <div class="form-group">
                        <select class="form-control" formControlName="categorie" required>
                            <option selected="selected" disabled>Categorie d'entrée</option>
                            <option *ngFor="let categorie of catService.catEntrees; let id=index" value="{{ id }}">{{ categorie.intitule }}</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <input type="number" class="form-control" min="100" step="100" formControlName="montant" placeholder="Montant de l'entrée" required>
                        <div style="text-align:justify; background-color: rgb(200, 200, 200); padding: 1px; border-radius : 0.5mm" class="input-group-addon">CDF</div>
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-success" [disabled]="entreeForm.invalid">Editer</button>
                    <button type="reset" class="btn btn-danger float-right">Annuler</button>
                </div>

            </form>
        </div>
    </div>
</section>



<!-- /.card -->


