<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">CATEGORIE D'ENTREE</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Numero</th>
                <th>Intitulé categorie</th>
                <th>Options</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let categorie of categories">
                <td>{{ categorie.id }}</td>
                <td> {{ categorie.intitule }}</td>
                <td>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>Editer</a>
                  <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Supprimer</a>
                </td>
              </tr>
              </tbody>
              <tfoot>
                <th>Numero</th>
                <th>Intitulé categorie</th>
                <th>Options</th>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->
  </div>

</body>
<!-- /.row -->


