
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">SORTIES</h3>
            <a routerLink="/sorties/new-sortie" class="float-right" style="text-decoration: underline">
              Nouvelle sorties
            </a>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped table-responsive">
              <thead>
              <tr>
                <th>Numero</th>
                <th>Date de sortie</th>
                <th>Categorie de sortie</th>
                <th>Montant de sortie</th>
                <th>Options</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let sortie of sorties; let id=index">
                <td>{{ id+1 }}</td>
                <td>{{ sortie.date }}</td>
                <td>{{ sortie.categorie.intitule }}</td>
                <td> {{ sortie.montant }}</td>
                <td>
                  <a routerLink="/sorties" class="btn btn-primary btn-sm" (click)="edit(id)"><i class="fa fa-edit"></i>Editer</a>
                  <a routerLink="/sorties" class="btn btn-danger btn-sm" (click)="delete(id)"><i class="fa fa-trash"></i>Supprimer</a>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>Numero</th>
                <th>Date de sortie</th>
                <th>Categorie de sortie</th>
                <th>Montant de sortie</th>
                <th>Options</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->  
  </div>
  
</body>
<!-- /.row -->
