<body>
  <div class="container">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Enregistrer une Categorie de sortie</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form">
          <div class="card-body">
            <div class="form-group">
              <input type="text" class="form-control" name="nom-categorie" placeholder="Intitulé de la categorie" required >
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <button type="reset" class="btn btn-danger float-right">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>


<!-- /.card -->




