<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">ENTREES</h3>
            <a routerLink="new-entree" style="text-decoration: underline" class="float-right">Nouvelle entrée</a>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped table-responsive">
              <thead>
              <tr>
                <th>Numero</th>
                <th>Date d'entrée</th>
                <th>Categorie d'entrée</th>
                <th>Montant d'entrée</th>
                <th>Options</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let entree of entrees; let id=index">
                <td>{{ id+1 }}</td>
                <td>{{ entree.date }}</td>
                <td>{{ entree.categorie.intitule }}</td>
                <td> {{ entree.montant }}</td>
                <td>
                  <a routerLink="" class="btn btn-primary btn-sm" (click)="edit(id)"><i class="fa fa-edit"></i>Editer</a>
                  <a routerLink="" class="btn btn-danger btn-sm" (click)="delete(id)"><i class="fa fa-trash"></i>Supprimer</a>
                </td>
              </tr>
              </tbody>
              <tfoot>
                <th>Numero</th>
                <th>Date d'entrée</th>
                <th>Categorie d'entrée</th>
                <th>Montant d'entrée</th>
                <th>Options</th>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->  
  </div>
</body>
<!-- /.row -->

