<body>
<div class="container">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Editer un exercice budgetaire</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="exerciceForm" (ngSubmit)="onSubmit()" role="form">
                <div class="card-body">
                    <div class="form-group">
                        <label for="date_debut">Date de debut</label>
                        <input type="date" class="form-control" id="date_debut" formControlName="date_debut" placeholder="Date de debut" required >
                    </div>

                    <div class="form-group">
                        <label for="date_fin">Date de fin</label>
                        <input type="date" class="form-control" id="date_fin" formControlName="date_fin" placeholder="date de fin" required>
                    </div>

                    <div class="form-group">
                        <label for="montant">Montant budgetaire</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="montant" formControlName="montant" min="100" step="100" placeholder="Montant budgetaire" required>
                            <div style="text-align:justify; background-color: rgb(200, 200, 200); padding: 1px; border-radius : 0.5mm"
                                 class="input-group-addon">CDF</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="montant-i">Montant Initial <i>(Optionnel)</i></label>
                        <input type="number" class="form-control" formControlName="montant_i" id="montant-i" placeholder="Montant initial" value="0" min="0" step="100" required />
                    </div>

                    <div class="form-group">
                        <label for="obs">Observation</label>
                        <input type="text" id="obs" formControlName="observation" class="form-control" placeholder="observation" />
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-success" [disabled]="exerciceForm.invalid">Editer</button>
                    <button type="reset" class="btn btn-danger float-right">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>


<!-- /.card -->


