<body>
  <div class="container">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Creer compte</h3>
          <a routerLink="/connexion" class="link float-right" style="text-decoration: underline;">Je possede deja un compte</a>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <div class="form-group">
              <input type="text" class="form-control" name="nom" placeholder="Nom complet" formControlName="nom" required="required" />
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="login" placeholder="Nom d'utilisateur / Login" formControlName="login" required="required" />
            </div>

            <div class="form-group">
              <input type="password" name="psw" class="form-control" placeholder="Password" formControlName="psw" required="required" /> 
            </div>

            <div class="form-group">
              <input type="password" name="conf_psw" class="form-control" placeholder="Confirmer Password" formControlName="conf_psw" required="required" />
            </div>

            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Adresse Email" formControlName="email" required="required" />
            </div>

          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
            <button type="reset" class="btn btn-default float-right">Cancel</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</body>


<!-- /.card -->
