<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">EXERCICES BUDGETAIRES</h3>
            <a routerLink="new-exo" class="float-right" style="text-decoration: underline;">Nouvel exercice budgetaire</a>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Numero</th>
                <th>Date debut</th>
                <th>Date fin</th>
                <th>Montant Initial</th>
                <th>Montant budgetaire</th>
                <th>Observation</th>
                <th>Options</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let exercice of exercices; let i=index">
                <td>{{ i+1 }}</td>
                <td>{{ exercice.dateDebut }}</td>
                <td>{{ exercice.dateFin }}</td>
                <td>{{ exercice.montantInit }}</td>
                <td>{{ exercice.montantBudgetaire}}</td>
                <td>{{ exercice.observation }}</td>
                <td>
                  <a routerLink="/exercices" class="btn btn-primary btn-sm" (click)="editer(i)"><i class="fa fa-edit"></i>Editer</a>
                  <a routerLink="/exercices" class="btn btn-danger btn-sm"  (click)="supprimer(i)"> <i class="fa fa-trash"></i>Supprimer</a>
                </td>
              </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Numero</th>
                  <th>Date debut</th>
                  <th>Date fin</th>
                  <th>Montant Initial</th>
                  <th>Montant budgetaire</th>
                  <th>Observation</th>
                  <th>Options</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->  
  </div>
  
</body>
<!-- /.row -->

